.carrousel{
    width: 300vw;
    height: 20vh;
    display: flex;
    transform: translateX(0);
    transition: transform .5s;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

    &:nth-of-type(1){
        background-color: rgb(6, 169, 245);
    }
    &:nth-of-type(2){
        background-color: rgb(24, 241, 35);
    }
    &:nth-of-type(3){
        background-color: rgb(212, 0, 255);
        color: white;
    }
    }
    
}
/*------------------------------------
bouton du carrousel
--------------------------------------*/
.conteneur-bouton{
    width: 100vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: white;
        background-color: rgb(51, 45, 45);
        border-radius: 50%;
        &:hover{
            background-color: rgb(92, 92, 92);
        }
        &:active{
            background-color: rgb(255, 255, 255);
            color: black;
        }
    }
}