$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: none;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

/*couleur menu*/
$color__linkmenu: #a9e141; //royalblue
$color__linkmenu-visited: #93a859; //purple
$color__linkmenu-hover: #ffffff; //midnightblue

/*couleur site-title*/
$color__linksite-title: #2b2c28; //royalblue
$color__linksite-title-visited: #005543; //purple
$color__linksite-title-hover: #c5ffcf; //white


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
/*partie de couleur des articles de la grille*/
$color__article: rgb(27,27,28);
$color__article-noir: rgba(0,0,0,1);
$color__article-gris: rgba(63,63,63,1);
/*couleur body changeante*/
$color__body-vertpale:#77e786;
$color__body-vert:#3ce759;
$color__body-bleu:#23d5d5;
$color__body-bleupale:#18f5f5;