.main-navigation {
	display: block;
	width: 99vw;
	background-color: black;
	padding-top: 1rem;
	padding-bottom: 1rem;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: black;
		text-align: center;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			//float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;

			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 1rem;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}




/*---------------------------
 Bouton Burger
 ----------------------------*/
.menu-toggle{
padding: 0;
transition: transform .25s;
transform: rotate(0deg);
border: 0;
}
.menu-toggle:hover,
.menu-toggle:focus{
	background: white;
	}
	.menu-toggle:focus{
		outline: 1px solid white;
		outline-offset: -4px;
	}
	.menu-toggle:active{
		transform: scale(0.70)
	}



.main-navigation.toggled .menu-toggle{
	transform: rotate(90deg);
}


.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.accueil{

	ul{
	   li{
		   text-align: center;
		justify-content: space-around;
		}
	} 
}

/* -------------------------------------
menu tablette
-----------------------------------
*/
@media screen and (min-width: 37.5em) {
	div#primary-menu{
		padding-left: .5rem;
		padding-right: .5rem;

	}


	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		//position: static;
		justify-content: space-around;
		li{
			padding: 0;
			a{
				font-size: clamp(.2rem, #{"-0.875rem + 8.333vw"},.9rem);
			}
		}
	}

	.accueil{

		ul{
	list-style-type: none;
	font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},1.7rem);
	margin: 0;
	padding: 0;
		   li{
			   text-align: start;
			justify-content: space-around;
			}
		} 
	}
	.wp-block-column {
		display: flex;
		align-items: center;
	}


	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}

}

